body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

a {
    color: #00ffff;
    font-size: 18px;
    text-decoration: none;
}

video {
    width: 80%;
    max-width: 800px;
}

img {
    max-width: 80%;
}
footer {
    text-align: right;
    color: gray;
    padding: 20px;
    font-size: 14px;
}

p {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}
